*{
    box-sizing: border-box;
}
body {
    background: #18131a;
    height: 100vh;
}
.container {
    margin-top: 50px;
}

.half-width {
    height: 570px;
    background:#2a2333;
    padding: 30px;
    text-align: center;
}
.generate-btn{
    margin-top: 140px;
    width: 180px;
    padding: 50px;
    border-radius: 50%;
    border: 8px solid rgb(107, 6, 207);
    background-color: #36115a;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.generate-btn:focus{
    outline: none;

}

input[type='text']{
    background-color: #2f273a;
    padding: 10px 0px;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #858299;
    height: 50px;
    padding: 10px;
}
input[type='text']:focus {
    background-color: #553e63;
    color: #fff;
    font-size: 20px;
}
.numbers {
    margin: 30px 0;
}

.calc-typed {
margin-top: 20px;
font-size: 45px;
text-align: right;
color: #fff;
}

.calc-button-row {
width: 100%;
}

.button {
width: 20%;
background: #425062;
color: #fff;
padding: 20px 0;
margin: 5px;
display: inline-block;
font-size: 25px;
text-align: center;
vertical-align: middle;
margin-right: -4px;
border-radius: 10px;
cursor: pointer;
}
.blink-me {
color: #E0B612;
}
.submit-btn {
    border: none;
    margin-top: 20px;
    padding: 10px 120px;
    border-radius: 5px;
    background: #36115a;
    color: #fff;
    font-weight: 500;
}
.confirmation {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.incorrect{
    background-color: rgb(185, 0, 0);
}
.correct{
    background-color: green;
}
.confirmation-section{
    width: 40%;
    margin: 0 auto;
}
